/*- 🎨 Base Style
 *
 * Responsible for all typography,
 * variables, spacing, and everything
 * ~only-view-way~ pages of SPA your box challenge
 *
 * _ps_. Inspired on "cheffplate" settings
 *
 * cheffplate! by @guicheffer
 * https://github.com/guicheffer/cheffplate
 *
 *
 *
-*/

@import 'reset';
@import 'palette';
@import 'typography';

@import 'layout';

@import '../home/entry';

font-face-normal()
font-face-bold()

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $gray-cod;
  color: $black-base;
  line-height: $font-size-base + $spacing-xsmall;
}

body, input, a {
  font-family: 'Mukta', Helvetica, sans-serif;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  text-decoration: none;
}

.your-box {
  your-box-layout();
  your-box-layout-responsive();

  &__home {
    home();
    home-responsive();
  }

  &__footer {
    background: $black-base;
    bottom: 0;
    color: $white-base;
    padding: $spacing-xxsmall;
    position: fixed;
    text-align: right;
    width: 100%;

    a { color: $blue-action; }
  }
}
